<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image:</strong>
  <% if @product.image? %>
    <%= image_tag @product.image.url %>
  <% else %>
    <%= image_tag "/noimage.png" %>
  <% end %>
</p>

<p>
  <strong>Summery:</strong>
  <%= @product.summery %>
</p>

<%= form_tag(purchase_product_path, method: :post) do %>
  <%= number_field_tag 'count', '1', min: 1, max: 9 %>
  <%= submit_tag "購入する" %>
<% end %>

<% if current_user.admin_flag? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>

<%= link_to 'Back', products_path %>
