<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image:</strong>
  <% if @product.image? %>
    <%= image_tag @product.image.url %>
  <% else %>
    <%= image_tag "/noimage.png" %>
  <% end %>
</p>

<p>
  <strong>Summery:</strong>
  <%= @product.summery %>
</p>

<%= form_with model: @order do |f| %>
  <p>
    <strong>注文数:</strong>
    <%= f.select :count, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8], [9, 9]] %>個
  </p>
<% end %>

<p>
  <strong>合計金額:</strong>
  <%= @total_price %>円
</p>


<%= form_tag(purchase_product_path, method: :post) do %>
  <%= submit_tag "購入する" %>
<% end %>


<% if current_user.admin_flag? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>

<%= link_to 'Back', products_path %>
