<!DOCTYPE html>
<html>
  <head>
    <title>花の通販サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://js.pay.jp/"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to '※', products_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to '商品一覧', products_path, class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to current_user.username, pages_show_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'プロフィール変更', edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'サインアップ', new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>

          <% if current_page?(products_path) %>
            <%= search_form_for @q do |f| %>
              <div class="form-inline">
                <%= f.search_field :name_or_summery_cont, class: "form-control mr-sm-2" %>
                <%= f.submit '検索', class: 'btn btn-outline-info my-2 my-sm-0' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </nav>
    </header>

    <div class="container pt-4">
      <% flash.each do |name, msg| %>
        <div class="alert alert-success">
          <%= msg.html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
